@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Inicio {
  overflow: hidden;
}

body{
  height: 100vh;
}

.div_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-container {
  text-align: center;
  color: #ffffff;
}

.fondo{
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: contain;
  background-position:initial;
  filter: blur(5px);
  z-index: -3;
}

.color-des{
  background-color: rgba(0, 0, 0, 0.64);
  z-index: -3;
  margin-bottom: -10px;
}

.color-nombre{
  color: bisque;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url('../images/profile.jpg');
  background-size:contain;
  background-position:center;
  margin: 0 auto;
  margin-top: -75px;
  z-index: 0;
}

#seccion_acerca {
  text-align: center;
  padding: 20px 0;
  background-color: white;
  min-height: calc(100vh - 300px); 
  margin-bottom: 160px
}

.tittle{
  padding: 30px 50px;
  display: flex;
  margin-left: 70px;
}
.text_container{
  display: flex;
  justify-content: space-around
}

.contaier_cards{
  margin-top: 20px;
}

.text_long{
  font-size: 13px;
  width: 400px;
}

.containerl{
  margin-right: 150px;
}

.logo_container{
  display: inline-grid;
}

.logos{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-auto-rows: 40px;
  grid-gap: 60px;
}

@media (max-width: 1000px){
  .tittle{
    display: grid;
    margin-left: 0px;
  }
  .text_container {
    display: grid;
}
.containerl {
  margin-right: 0px;
  margin-top: 30px;
}
}

#seccion_proyectos {
  text-align: center;
  padding: 20px 0;
  background-color: white;
  min-height: calc(100vh - 200px); 
}

.wrapper{
  display: grid;
  margin: 20px 90px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
@media (max-width: 700px) {
  .wrapper{
    margin: 200px auto;
  }
}
.wrapper .box{
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.wrapper .box .front-face{
  background: #fff;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .front-face .icon{
  height: 80px;
}
.box .front-face .icon i{
  font-size: 65px;
}
.box .front-face span,
.box .back-face span{
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .front-face .icon i,
.box .front-face span{
  background: linear-gradient(-135deg, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box .back-face{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #000000, #000000);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .back-face p{
  margin-top: 10px;
  text-align: justify;
}
.box:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}
.box:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

#seccion_contacto {
  text-align: center;
  padding: 20px 0;
  background-color: white;
  min-height: calc(100vh - 200px); 
}

.ccn{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly
}





