@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Inicio {
  /* Otras propiedades de estilo... */
  overflow: hidden; /* Para ocultar el desborde de las secciones */
}

body{
  height: 100vh;
}

.div_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* O ajusta la altura según tus necesidades */
}

.content-container {
  text-align: center;
  color: #ffffff;
}

.fondo{
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: contain;
  background-position:initial;
  filter: blur(5px); /* Ajusta el valor para cambiar el nivel de desenfoque */
  z-index: -3; /* Coloca el fondo desenfocado detrás del contenido */
}

.color-des{
  background-color: rgba(0, 0, 0, 0.64);
  z-index: -3;
  margin-bottom: -75px;
}

.color-nombre{
  color: bisque;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Forma circular */
  background-image: url('../images/profile.jpg');
  background-size:contain;
  background-position:center;
  margin: 0 auto; /* Centra horizontalmente */
  margin-top: -75px; /* Ajusta para posicionar correctamente sobre el texto */
  z-index: 0; /* Coloca la foto por encima del fondo desenfocado */
}

#seccion_acerca {
  text-align: center;
  padding: 20px 0; /* Agrega espacio alrededor del h4 */
  background-color: white; /* Fondo blanco para la segunda sección */
  min-height: calc(100vh - 200px); /* Altura mínima para que se vea la sección en blanco al hacer scroll */
}

#seccion_acerca {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Otros estilos necesarios para tu diseño */
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Agregar espacio a los lados */
  margin-left: 150px;
  /* Otros estilos necesarios para el contenedor */
}

h1, h3 {
  margin: 0;
  /* Agregar un poco de espacio superior e inferior */
  margin-top: 10px;
  margin-bottom: 10px;
}






