:root {
	--rojo: #ba181b;
	--azul: #00b4d8;
	--azul-hover: #48cae4;
	--rojo-hover: #e5383b;
	--verde: #09a129;
}


.card-to-do {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 20px;
    max-width: 700px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra el elemento horizontalmente */
    width: 100%; /* Hace que la tarjeta sea responsive */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin-top: 50px;
}

h1 {
	text-align: center;
}

.counter-todos {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.counter-todos h3 {
	font-weight: 500;
}

.counter-todos span {
	color: #f29559;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

.ul_todo {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.ul_todo li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.ul_todo li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.ul_todo li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #555;
	width: 100%;
	/* background-color: #000; */
	outline: none;
}

.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid var(--verde);
	cursor: pointer;
}

.container-done.active {
	background-color: var(--verde);
}

.text-decoration-dashed {
	text-decoration: line-through;
}

.btn-delete {
	background-color: var(--rojo);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-delete:hover {
	background-color: var(--rojo-hover);
}

.btn-edit {
	background-color: var(--azul);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-edit:hover {
	background-color: var(--azul-hover);
}

form {
	display: flex;
	gap: 20px;
}

.add-todo h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
}

.btn-add {
	border: none;
	background-color: var(--azul);
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 17px;
}

.btn-add:hover {
	background-color: var(--azul-hover);
}

@media (max-width: 600px) {
    .card-to-do {
        max-width: 100%; /* Cambia el ancho máximo al 100% en pantallas más pequeñas */
        margin-top: 0; /* Elimina el margen superior en pantallas más pequeñas */
    }

    .counter-todos {
        flex-direction: column; /* Cambia la dirección del eje principal para el conteo de tareas */
        align-items: center; /* Centra los elementos en pantallas más pequeñas */
        text-align: center; /* Centra el texto */
        margin: 20px 0; /* Reduce el margen superior e inferior */
    }

    .counter-todos span {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 10px; /* Añade un margen superior para separar el número del texto */
    }

    .ul_todo {
        margin-top: 20px; /* Reduce el margen superior */
    }

    .btn-delete,
    .btn-edit {
        padding: 10px; /* Reduce el padding de los botones */
        font-size: 14px; /* Reduce el tamaño del texto de los botones */
    }

    .input-add,
    .btn-add {
        font-size: 14px; /* Reduce el tamaño del texto del input y del botón */
    }
}